//ÕûÌå
body{
  background: #f3f5f7;
}
.warp{
  min-width: 300px;
  max-width: 100%;
  margin: 0 auto;

}
//¶¥²¿
header{
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  .header{
    height: 40px;
    background: #c51c2a;
    position: relative;
    a{
      display: inline-block;
    }
    .logo{
      width: 55px;
      height: 20px;
      background-position: 0 -110px;
      position: absolute;
      top: 10px;
      left: 6px;
    }
    form{
      margin-left: 70px;
      padding-right: 50px;
      position: relative;
      input{
        height: 30px;
        margin-top: 5px;
        width: 100%;
        border-radius: 15px;
        padding-left: 30px;
        padding-right: 10px;
      }
      .search{
        width: 19px;
        height: 19px;
        background-position: -60px -110px;
        position: absolute;
        left: 7px;
        top: 11px;
        cursor: pointer;
      }
    }
    .login{
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      padding: 0 10px;
      position: absolute;
      top: 0;
      right: 0;
      a{
        color: #fff;
      }
    }
  }
}
main{
  padding-top: 40px;
  .left{
    min-width: 76px;
    width: 76px;
    position: fixed;
    left: 0;
    top: 40px;
    ul{
      li{
        width: 76px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        border-bottom: 1px solid #f3f5f7;
        border-right: 1px solid #f3f5f7;
        background: #fff;
      }
    }
  }
  .right{
    margin-left: 76px;
    .banner{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .main1{
      padding: 19px 7px 0 7px;
      h4{
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        a{
          float: right;
          display: block;
          height: 12px;
          font-weight: normal;
          color: #848689;
          i{
            height: 12px;
            float: left;
            padding: 0 3px;
            img{
              height: 100%;
            }
          }
        }
      }
      ul{
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 7px 10px 0 10px;
        margin-top: 9px;
        li{
          width: 33.333%;
          float: left;
          text-align: center;
          a{
            display: block;
            img{
              width: 55px;
              height: 55px;
              margin: 0 auto;
            }
            span{
              height: 31px;
              font-size: 16px;
              line-height: 31px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 540px){
  main{
    .right{
      .main1{
        ul{
          li{
            a{
              img{
                width: 50px;
                height: 50px;
              }
              span{
                height: 28px;
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 414px){
  main{
    .right{
      .main1{
        ul{
          li{
            a{
              img{
                width: 45px;
                height: 45px;
              }
              span{
                height: 24px;
                font-size: 12px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 375px){
  main{
    .right{
      .main1{
        ul{
          li{
            a{
              img{
                width: 40px;
                height: 40px;
              }
              span{
                height: 20px;
                font-size: 10px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}